<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block titulo %}
            Site 2
            {% endblock %}</title>
  </head>

  {% block body %}
  <body class="overflow-hidden">
    <div class="container">
        <header>
            <nav>

            <div class="logo-pinterest">

                <svg
                    width="40"
                    height="40"
                    viewBox="0 0 80 80"
                    style="display: block">

                    <!-- Círculo vermelho -->
                    <circle
                        cx="40"
                        cy="40"
                        r="38"
                        fill="#e60023">
                    </circle>

                    <!-- RC -->
            
                      <!-- Fundo -->
                      <circle cx="40" cy="40" r="38" fill="#e60023"> </circle>
                      <!-- Letra R -->
                      <!-- R -->
                        <path
                            d="M18 58 V22 H30
                              C38 22 42 26 42 34
                              C42 42 38 46 30 46
                              H18
                              M30 46 L43 58"
                            fill="none"
                            stroke="white"
                            stroke-width="6"
                            stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>

                        <!-- C -->
                        <path
                            d="M65 29
                              C62 24 57 22 52 22
                              C43 22 39 29 39 40
                              C39 51 43 58 52 58
                              C57 58 62 56 65 51"
                            fill="none"
                            stroke="white"
                            stroke-width="6"
                            stroke-linecap="round"
                            stroke-linejoin="round">
                        </path>
                      </svg>

                </svg>

                <h1>Segundo Site</h1>

            </div>

            <div class="restante-nav">

                <a href="" class="link-nav">About</a>
                <a href="" class="link-nav">Business</a>
                <a href="" class="link-nav">Blog</a>

            </div>

          </nav>
        </header>

      <img src="{{ url_for('static', filename='fotos_site/fundo-login.png') }}" class="bg-imagem-pinterest" />

      <div class="container-popup">

        {% block formulario %}       

        <form method="POST" class="popup">
             {{ form.csrf_token }}
          <svg width="40" height="40" viewBox="0 0 80 80" style="display: block">
          <!-- Fundo -->
          <circle cx="40" cy="40" r="38" fill="#e60023"> </circle>
          <!-- R -->
          <path d="M18 58 V22 H30 C38 22 42 26 42 34 C42 42 38 46 30 46 H18 M30 46 L43 58" fill="none" stroke="white" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"> </path>
          <!-- C -->
          <path d="M65 29 C62 24 57 22 52 22 C43 22 39 29 39 40 C39 51 43 58 52 58 C57 58 62 56 65 51" fill="none" stroke="white" stroke-width="6" stroke-linecap="round" stroke-linejoin="round"> </path>
          </svg>

          <h2>Bem-vindo(a) ao Meu segundo Site</h2>

          <div class="div-input">           
            {{ form.email.label(class="label") }}
            {% if form.email.errors %}
                {% for erro in form.email.errors %}
                   <p style="color: red">{{ erro }}</p>
                {% endfor %}
            {% endif %}
                {{ form.email(class="input") }}
          </div>

          <div class="div-input">            
            {{ form.senha.label(class="label") }}
            {% if form.senha.errors %}
                {% for erro in form.senha.errors %}
                   <p style="color: red">{{ erro }}</p>
                {% endfor %}
            {% endif %}
            {{ form.senha(class="input") }}
          </div>

          <div class="div-botao">            
            {{ form.botao_confirmacao(class="botao-login") }}
            <a href="{{ url_for('criar_conta') }}" class="link-criarconta">Não tem uma conta? Crie aqui</a>
            
          </div>
        </form>
        {% endblock %}
      </div>
    </div>
  </body>
  {% endblock %}
</html>
